<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <body>
        <div th:fragment="navbar">
            <div id="header">
                <div id="headerSpaceLeft"></div>
                <div id="nav">
                    <div class="nav-left">
                        <div class="dropdown">
                            <a th:href="@{/}" class="nav-item">Projects</a>
                            <div class="dropdown-content">
                                <a th:href="@{/projects/passwordmanager}">Password manager</a>
                                <a th:href="@{/projects/dictionary}">Dictionary</a>
                            </div>
                        </div>
                        <a th:href="@{/patches}" class="nav-item">Patches</a>
                    </div>
                    <div class="nav-right">
                        <div class="auth-buttons" sec:authorize="!isAuthenticated()">
                            <a th:href="@{/login}" class="nav-item">Login</a>
                            <a th:href="@{/register}" class="nav-item">Register</a>
                        </div>
                        <div sec:authorize="isAuthenticated()" class="auth-buttons">
                            <div class="dropdown">
                                <a th:href="@{/preferences}" class="nav-item">
                                    <span sec:authentication="name"></span>
                                </a>
                                <div class="dropdown-content">
                                    <a th:href="@{/preferences}">Preferences</a>
                                    <a th:href="@{/app/passwordmanagerapp}">Password manager</a>
                                    <a th:href="@{/app/dictionaryapp}">Dictionary</a>
                                </div>
                            </div>
                            <form th:action="@{/logout}" method="post" style="margin: 0;">
                                <button type="submit" class="logout-button">
                                    Logout
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="headerSpaceRight"></div>
            </div>
        </div>
    </body>
</html>