<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Dictionary app</title>
        <link id="theme-style" rel="stylesheet" href="/css/dark.css">
    </head>
    <body>
        <div th:replace="fragments :: navbar"></div>

        <div class="main">
            <h2>Coming soon.</h2>
        </div>

        <footer>
            <p>Contact: support@passwordmanager.com | &copy; 2025 PasswordManager Inc.</p>
        </footer>
    </body>
</html>