<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Password Manager App</title>
    <link id="theme-style" rel="stylesheet" href="/css/dark.css">
    <link rel="stylesheet" href="/css/passwordmanagerapp.css"> <!-- custom styles -->
</head>
<body>

<!-- Reuse your navbar fragment -->
<div th:replace="fragments :: navbar"></div>

<div id="mainPMA">
    <div id="leftSidebar">
        <button class="sideButton"><img src="/img/Icons/add_24_White.png" class="icon"> Add</button>
        <button class="sideButton"><img src="/img/Icons/password_24_White.png" class="icon"> Generate Password</button>
        <button class="sideButton"><img src="/img/Icons/format_list_24_White.png" class="icon"> Show List</button>
        <button class="sideButton"><img src="/img/Icons/settings_24_White.png" class="icon"> Preferences</button>
        <button id="logsToggle" class="sideButton"><img src="/img/Icons/history_24_White.png" class="icon"> Logs</button>

        <div id="logsPanel" class="hidden">
            <input type="text" id="logsSearch" class="log-search" placeholder="search logs">
            <textarea id="logText" readonly></textarea>
        </div>
    </div>

    <div id="middleContent"></div>
</div>

<!-- Footer -->
<footer>
    <p>Contact: support@passwordmanager.com | &copy; 2025 PasswordManager Inc.</p>
</footer>

<script src="/js/passwordmanagerapp.js"></script>
</body>
</html>
